body {
background-image: linear-gradient(white,gray);
}

.header {
background-color: #144569;
 color: white;
}

.footer {
 position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}

a {
 text-color: white;
}

a:visited {
 color: yellow;
}

.header .links {
 text-align: right;
}
