body {
background-image: linear-gradient(white,gray);
}

.header {
background-color: #144569;
}

.footer {
 position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}

.header .links {
 text-align: right; 
}
